* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 15px;
  font-family: 'Spartan', sans-serif;
  font-weight: 400;
}

body {
  padding: 80px 24px 100px;
  min-height: 100vh;
  position: relative;
}

body .top-img-mobile {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
}

body .bottom-img-mobile {
  width: 1085px;
  height: 673px;
  position: absolute;
  bottom: 0;
  right: 0px;
  z-index: -999;
}

body .top-img-desktop {
  display: none;
  z-index: -999;
  position: absolute;
  top: 0;
  left: 0;
}

body .bottom-img-desktop {
  display: none;
  z-index: -999;
  position: absolute;
  bottom: 0;
  right: 0px;
}

header {
  max-width: 445px;
  margin: 0 auto 40px;
}

header h1 {
  color: #502050;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 18px;
}

header p {
  color: #937b92;
  text-align: center;
  font-size: 15px;
}

.ratings {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}

.ratings .rating-container {
  width: 100%;
  max-width: 445px;
  margin-bottom: 16px;
  padding: 16px 0;
  border-radius: 8px;
  background-color: #f7f2f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ratings .rating-container p {
  color: #502050;
  font-weight: bolder;
  font-size: 13px;
}

.testimonials {
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials .testimonial-container {
  width: 100%;
  max-width: 350px;
  background-color: #502050;
  border-radius: 8px;
  padding: 40px 32px;
  margin-bottom: 16px;
}

.testimonials .testimonial-container .testimonial-quote {
  color: #fff;
  font-size: 13px;
}

.testimonials .testimonial-container .testimonial-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}

.testimonials .testimonial-container .testimonial-heading img {
  border-radius: 50%;
  width: 40px;
  margin-right: 24px;
}

.testimonials .testimonial-container .testimonial-heading .testimonial-heading-text {
  font-size: 13px;
}

.testimonials .testimonial-container .testimonial-heading .testimonial-heading-text h3 {
  color: #fff;
  font-weight: bold;
}

.testimonials .testimonial-container .testimonial-heading .testimonial-heading-text p {
  color: #ee68a4;
}

.attribution {
  position: absolute;
  bottom: 16px;
  left: 0;
  right: 0;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media all and (min-width: 1440px) {
  body {
    padding: 125px 165px;
  }
  body .top-img-mobile {
    display: none;
  }
  body .bottom-img-mobile {
    display: none;
  }
  body .top-img-desktop {
    display: unset;
  }
  body .bottom-img-desktop {
    display: unset;
  }
  .container-top {
    max-width: 1110px;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .container-top header {
    margin: 0;
  }
  .container-top header h1 {
    font-size: 48px;
    text-align: left;
  }
  .container-top header p {
    text-align: left;
  }
  .container-top .rating-container:nth-of-type(2) {
    margin-left: 50px;
  }
  .container-top .rating-container:nth-of-type(3) {
    margin-left: 100px;
  }
  .testimonials {
    max-width: 1100px;
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .testimonials .testimonial-container:nth-of-type(2) {
    margin-top: 16px;
  }
  .testimonials .testimonial-container:nth-of-type(3) {
    margin-top: 32px;
  }
}
/*# sourceMappingURL=styles.css.map */